rebel.xml
.gradle/
######################
# Eclipse
######################
.metadata
bin/
tmp/
META-INF/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.classpath
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
*.sonarlint
.vscode

######################
# Maven
######################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*
*.orig



######################
# Others
######################
*.class
*.*~
*~
Servers/

######################
# Bibliotecas
######################
reportInputStreamTest.pdf
reportTest.csv
reportTest.html
reportTest.pdf
reportTest.rtf
reportTest.xls
.m2
######################

######################
# Intellij
######################
.idea/**
logs/**
*.iml
*.iws
*.ipr
*.ids
*.orig
*.editorconfig
